.back {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: -20px;
    margin-bottom: 15px;
    color: var(--maincolor);
    text-decoration: none;
    animation: hello-motion .5s;
    font-size: 105%;
}