* {
  box-sizing: border-box;
}

.split-thirtyfive-sixtyfive div:last-child img {
  border-radius: .4em;
  width: 65%;
  position: absolute;
  right: 10.5%;
  max-height: 82vh;
  height: auto;
  width: auto;
  bottom: 0;
  animation: animate-me .7s ease;
}


.timeline-container {
  position: relative;
  width: 80vw;
  margin: 0 auto;
}

.timeline-container::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: var(--mainbgcolor);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.timeline-inner-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.timeline-inner-container::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  right: -8px;
  background-color: var(--maincolor);
  border: 4px solid var(--maincolor);
  top: 25px;
  border-radius: 50%;
  z-index: 1;
}

.timeline-left {
  left: 0;
}

.timeline-right {
  left: 50%;
}

.timeline-left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.timeline-right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.timeline-right::after {
  left: -8px;
}

.timeline-content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

@keyframes animate-me {
  0% { 
    bottom: -20px; 
    opacity: .8;
  }
  100% { 
    bottom: 0px; 
    opacity: 1;
  }
}